<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="flex">

    <div class="title">
      <h3>SEJA BEM VINDO!</h3>
      <h6>Realize login para continuar</h6>
    </div>

    <div class="form">
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <span class="invalid" *ngIf="form.controls.email.invalid && form.controls.email.touched">
          Campo obrigatório
        </span>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <span class="invalid" *ngIf="form.controls.password.invalid && form.controls.password.touched">
          Campo obrigatório
        </span>
      </form>
    </div>

    <div class="button">
      <ion-button expand="block" (click)="submit()">Entrar</ion-button>
      <p class="text-center">Não possui uma conta? <a routerLink="/">Cadastre-se</a></p>
    </div>

  </div>

</ion-content>
