<ion-content [fullscreen]="true">
    <div id="map_canvas">
    </div>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="search-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                Todos
            </ion-fab-button>
            <ion-fab-button>
                <img src="assets/images/boat.svg" />
            </ion-fab-button>
            <ion-fab-button>
                <img src="assets/images/flag.svg" />
            </ion-fab-button>
            <ion-fab-button>
                <img src="assets/images/flashlight.svg" />
            </ion-fab-button>
            <ion-fab-button>
                <img src="assets/images/sad.svg" />
            </ion-fab-button>
            <ion-fab-button>
                <img src="assets/images/tree-leaf.svg" />
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
