.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.card-flex {
  flex: 5;
}
