<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="flex">

    <div class="card-flex">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="text-center title">{{report.type}}&nbsp;
          </ion-card-title>
          <!-- <ion-card-subtitle class="text-center">{{report.description}}</ion-card-subtitle>  -->
        </ion-card-header>
        <ion-card-content class="text-center">{{report.description}}
        </ion-card-content>
      </ion-card>
    </div>


    <div class="buttons">
      <ion-button color="danger" (click)="dismiss()">Voltar</ion-button>
      <ion-button color="success">Encaminhar</ion-button>
    </div>
  </div>

</ion-content>
